<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.2.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('button').click(function(){
            var data = JSON.stringify({
                "content": "A new post.",
                "is_active": true,
                "title": "New Title",
                "slug": "new-title",
                "user": "/api/v1/users/1/"}
            );

            $.ajax({
                type: 'POST',
                url: '/api/v1/notes/',
                data: data,
                success: function(data){return data},
                dataType: 'application/json',
                processData:  false,
                contentType: 'application/json'
            });
        });
    });
    </script>
</head>
<body>
<button>send</button>
</body>
</html>