<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test django Tastypie</title>
    <style type="text/css">
        label { display: block }
    </style>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.2.min.js"></script>
    <script type="text/javascript">
    ($(function(){

        var REST_APP = {};

        REST_APP.document = $(document);
        REST_APP.list_render = $('#notes');
        REST_APP.all_fields = $('.field');
        REST_APP.log = $('#log');

        // fields
        REST_APP.id = $('#id');
        REST_APP.content = $('#content');
        REST_APP.is_active = $('#is_active');
        REST_APP.title = $('#title');
        REST_APP.slug = $('#slug');
        REST_APP.user = $('#user');

        // buttons
        REST_APP.list = $('#list');
        REST_APP.new = $('#new');
        REST_APP.detail = $('#detail');
        REST_APP.edit = $('#edit');
        REST_APP.delete = $('#delete');

        REST_APP.reset_form = function () {
            REST_APP.all_fields.val('');
        };

        REST_APP.get_list = function () {
            // request ajax
            REST_APP.request = $.ajax({
                url: '/api/v1/notes/?format=json',
                type: 'GET',
                accepts: 'application/json',
                dataType: 'json'
            });
            // request done
            REST_APP.request.done(function(data){
                REST_APP.list_render.html('');
                var objects = data.objects;
                for (var i = 0; i < objects.length; i ++) {
                    REST_APP.list_render.append('<li>' + objects[i].id + ' - ' + objects[i].title + '</li>');
                }
            });
            // request fail
            REST_APP.request.fail(function(jqXHR, textStatus){
                REST_APP.log.html( "Request failed: " + textStatus );
            });
        };

        REST_APP.post_data = function () {
            var data = JSON.stringify({
                "content": REST_APP.content.val(),
                "is_active": REST_APP.is_active.val(),
                "title": REST_APP.title.val(),
                "slug": REST_APP.slug.val(),
                "user": REST_APP.user.val()
            });
            $.ajax({
                type: 'POST',
                url: '/api/v1/notes/',
                data: data,
                success: function(data){
                    console.log('success: ' + data);
                },
                error: function(data) {
                    console.log('error: ' + data);
                },
                dataType: 'application/json',
                processData:  false,
                contentType: 'application/json'
            });
        };

        REST_APP.delete_item = function () {
            $.ajax({
                url: '/api/v1/notes/' + REST_APP.id.val() + '/',
                type: 'DELETE',
                accepts: 'application/json',
                dataType: 'json'
            });
        };

        REST_APP.get_item = function () {
            $.ajax({
                url: '/api/v1/notes/' + REST_APP.id.val() + '/?format=json',
                type: 'GET',
                accepts: 'application/json',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    REST_APP.content.val(data.content);
                    REST_APP.is_active.val(data.is_active);
                    REST_APP.title.val(data.title);
                    REST_APP.slug.val(data.slug);
                    REST_APP.user.val('/api/v1/users/' + data.user.id + '/');
                }
            });
        };

        REST_APP.edit_item = function () {
            var data = JSON.stringify({
                "content": REST_APP.content.val(),
                "is_active": REST_APP.is_active.val(),
                "title": REST_APP.title.val(),
                "slug": REST_APP.slug.val(),
                "user": REST_APP.user.val()
            });
            $.ajax({
                type: 'PUT',
                url: '/api/v1/notes/' + REST_APP.id.val() + '/',
                data: data,
                success: function(data){
                    console.log('success: ' + data);
                },
                error: function(data){
                    console.log('error');
                },
                dataType: 'application/json',
                //processData:  false,
                contentType: 'application/json'
            });
        };

        // listing
        REST_APP.document.on('click', '#' + REST_APP.list.attr('id'), function () {
            REST_APP.get_list();
        });

        // posting
        REST_APP.document.on('click', '#' + REST_APP.new.attr('id'), function () {
            REST_APP.post_data();

            // listing after post
            REST_APP.get_list();
        });

        // deleting
        REST_APP.document.on('click', '#' + REST_APP.delete.attr('id'), function () {
            REST_APP.delete_item();

            // reset and listing after delete
            REST_APP.reset_form();
            REST_APP.get_list();
        });

        // getting
        REST_APP.document.on('click', '#' + REST_APP.detail.attr('id'), function () {
            REST_APP.get_item();
        });

        // editing
        REST_APP.document.on('click', '#' + REST_APP.edit.attr('id'), function () {
            REST_APP.edit_item();

            // listing after edit
            REST_APP.get_list();
        });

        // listing
        REST_APP.get_list();

    }))(jQuery);
    </script>
</head>
<body>
<div id="log"></div>
<label>id: <input class="field" id="id" type="text"></label>
<label>content: <input class="field" id="content" type="text"></label>
<label>is_active: <input class="field" id="is_active" type="text"></label>
<label>title: <input class="field" id="title" type="text"></label>
<label>slug: <input class="field" id="slug" type="text"></label>
<label>user: <input class="field" id="user" type="text"></label>
<button id="list">list</button> <!-- GET List -->
<button id="new">new</button> <!-- POST -->
<button id="detail">detail</button> <!-- GET Item -->
<button id="edit">edit</button> <!-- PUT -->
<button id="delete">delete</button> <!-- DELETE -->
<!-- listing -->
<ul id="notes"></ul>
</body>
</html>