{% extends "base.html" %}

{% block title %}{{ block.super }} - Maps{% endblock %}

{% block extra_head %}
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <style>
        body {
            font-family: sans-serif;
            font-size: 14px;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        ul > li {
            width: 350px;
            text-align: right;
        }
    </style>
    <script type="text/javascript">
    function initialize() {
        var input = document.getElementById('search');
        var autocomplete = new google.maps.places.Autocomplete(input);

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            if (place) {
                var objects = place.address_components;
                for (var i = 0; i < objects.length; i ++) {
                    var short_name = objects[i].short_name;
                    var loc_type = objects[i].types[0];
                    var field = document.getElementById(loc_type + "_field");
                    field.value = short_name;
                }
            }
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block content %}
    <ul>
        <li><input id="search" type="text" size="50"></li>
        <li>street_number: <input id="street_number_field" type="text"></li>
        <li>route: <input id="route_field" type="text"></li>
        <li>sublocality: <input id="sublocality_field" type="text"></li>
        <li>locality: <input id="locality_field" type="text"></li>
        <li>administrative_area_level_1: <input id="administrative_area_level_1_field" type="text"></li>
        <li>country: <input id="country_field" type="text"></li>
        <li>postal_code: <input id="postal_code_field" type="text"></li>
    </ul>
{% endblock %}